<form ng-controller="AddController" name="addForm">
    <h2>Add a movie</h2>
    <p>
        <label>Title</label>
        <input name="title" ng-model="title" type="text" required>
    </p>
    <p>
        <label>Release year</label>
        <input name="released" ng-model="released" type="number" required ng-pattern="/^[0-9]+$/"/>
    </p>
    <p>
        <label>Director</label>
        <input name="director" ng-model="director" type="text" required>
    </p>
    <p>
        <label>Description</label>
        <input name="description" ng-model="description" type="text" required>
    </p>
    <p ng-show="addForm.$invalid && addForm.$dirty">All fields must be filled.</p>
    <p>
        <input type="submit" value="Submit" ng-click="add()" ng-disabled="addForm.$invalid">
    </p>
</form>
